name: Hello~

on:
  push:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Python Setup
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
        
      - name: Pytest Install
        run: pip install pytest pytest-django

      - name: Test Run
        run: pytest    
